body {
    background-color: #E5E5E5;
}

.container {
    height: 1024px;
    width: 1440px;
    left: -2277px;
    top: 622px;
    border-radius: 0px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    color: #0A3871;
}

.texto {
    width: 900px;
    height: 650px;
    border-radius: 25px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.parrafo {
    margin-left: 25px;
}

.botones {
    /* Button */
    /* Auto layout */

    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;

    width: 400px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.caja-lateral {
    position: absolute;
    width: 400px;
    height: 850px;
    left: 1000px;
    top: 70px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.caja-parrafo {
    width: 350px;
    height: 700px;
    margin: 25px 25px;
}

.salida-texto {
    width: 100%;
    height: 700px;
    border: none;
    outline: none;
    padding: 10px auto;
    text-align: center;
    font-size: 25px;
}

.caja-boton-copiar {
    width: 350px;
    height: 80px;
    margin: 5px 25px;
}

.botonCopiar {
    display: block;
    padding: 20px;
    margin: auto;
    width: 350px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .mainItems {
        grid-template-columns: auto;
    }
    .container {
        width: 600px;
        height: 1174px;
        left: 0px;
        top: 10px;
        border-radius: 0px;
    }

    .texto {
        width: 600px;
        height: 480px;
        left: 40px;
        top: 240px;
        border-radius: 25px;
        padding: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        
    }

    .botones {
        display: inline-block;
        padding: 2px;
        margin: 10px 30px;
        gap: 8px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
        width: 620px;
        height: 67px;

        /* Dark blue/dark-blue-300 */

        background: #0A3871;
        border-radius: 24px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .caja-lateral {
        position: relative;
        width: 600px;
        height: 200px;
        left: 30px;
        top: 70px;
        padding: 20px;
        margin-left: 0px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 10px;

        /* White */

        background: #FFFFFF;
        /* shadow */

        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .caja-parrafo {
        width: 600px;
        height: 180px;
        margin: 0px 10px;
    }

    .salida-texto {
        width: 600px;
        height: 100px;
        border: none;
        outline: none;
        padding: 10px auto;
        text-align: center;
        font-size: 25px;
        
    }

    .caja-boton-copiar {
        position: relative;
        width: 600px;
        height: 70px;
        margin: 5px 5px;
    }

    .botonCopiar {
        display: block;
        padding: 10px;
        margin: 0px;
        width: 600px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        align-items: flex-end;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 375px) {
    .mainItems {
        grid-template-columns: auto;
    }
    .container {
        width: 385px;
        height: 1174px;
        left: 0px;
        top: 10px;
        border-radius: 0px;
    }

    .texto {
        width: 340px;
        height: 480px;
        left: 40px;
        top: 240px;
        border-radius: 25px;
        padding: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        
    }

    .botones {
        display: inline-block;
        padding: 2px;
        margin: 10px 30px;
        gap: 8px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
        width: 370px;
        height: 67px;

        /* Dark blue/dark-blue-300 */

        background: #0A3871;
        border-radius: 24px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .caja-lateral {
        position: relative;
        width: 340px;
        height: 200px;
        left: 30px;
        top: 70px;
        padding: 20px;
        margin-left: 0px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 10px;

        /* White */

        background: #FFFFFF;
        /* shadow */

        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .caja-parrafo {
        width: 335px;
        height: 180px;
        margin: 0px 10px;
    }

    .salida-texto {
        width: 330px;
        height: 100px;
        border: none;
        outline: none;
        padding: 10px auto;
        text-align: center;
        font-size: 25px;
        
    }

    .caja-boton-copiar {
        position: relative;
        width: 340px;
        height: 70px;
        margin: 5px 5px;
    }

    .botonCopiar {
        display: block;
        padding: 10px;
        margin: 0px;
        width: 335px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        align-items: flex-end;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #FFFFFF;
    }
}